/* body {
  background-color: #fff;
} */

/* .homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
} */

/* .body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* body {
  background-color: #fff;
  color: #212529;
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.container-fixed-padding {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

/* @media (max-width: 991.98px) .LandingPageHero__leadContainer {
  padding-top: 24px;
} */

/* .LandingPageHero__leadContainer {
  min-height: calc(50.4vw vw - 64px);
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f8ffd2;
  color: #8adab2;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeContent p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #df826c;
  color: #f8ffd2;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8adab2;
}

.dropdown {
  position: relative;
}

.label {
  margin-right: 10px;
}

.input-wrapper {
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.city-option {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: #333;
}

.city-option:hover {
  background-color: #f1f1f1;
}

#cityInput {
  padding: 8px;
  width: 200px; /* Adjust the width as needed */
  text-decoration: none; /* Ensure the input has no underline */
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #999;
}
.select {
  background-color: #008cff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 15px;
  margin-top: 45px;
}
.result {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 16px;
  margin: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.citie {
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}
.date {
  font-size: 12px;
  padding-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
}
.start {
  margin-top: 25px;
  padding-left: 10rem;
}
h2 {
  text-align: center;
}
.time {
  display: flex;
  flex-direction: row;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
}
input {
  display: flex;
  flex-direction: column;
}
